@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --body-font: "Saira", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  background: black;
  color: white;
  font-family: var(--body-font);
  font-optical-sizing: auto;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  display: block;
}
.nav-hold {
  padding: 40px 55px;
}
.hidden-nav {
  padding: 20px 55px;
}

button {
  padding: 8px 22px;
}
